/* img {
    width: 50px;
} */

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    color:  #363636;
    font-family: biryani;
    font-size: 14px;
}

header {
    margin: 0px 30px;
}

nav {
    float: left;
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
} 

.elephant {
    width: 50px;
}

.nav-icons {
    position: absolute;
    top: 40%;
}

.nav-icon {
    margin: 10px 0px;
    width: 40px;
    /* border-left: 4px solid transparent; */
    padding-left: 8px;
}

.icon1 {
    border-left: 4px solid #1CA3BA;
}

/* .icon2{
    border-left: 4px solid #1CA3BA;
}

.icon3{
    border-left: 4px solid #1CA3BA;
}
.nav-icon:hover{
    border-left: 4px solid #1CA3BA;
    
 } */

.shadow {
    box-shadow: 2px 2px rgba(0,0,0,0.05);
    border-radius: 5px;
}

main {
    margin-left: 120px;
    height: 120%;
    background-color: #f5f5f5;
    padding: 20px;
}

.welcome-bar {
    background-image: linear-gradient(to right, #8ED1DC,#E3F4F6);
    font-size: 25px;
    padding: 20px;
    margin: 0px 0px 20px;
    position: relative;
}

.close {
    margin: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    background-color: transparent;
    border-style: none;
}

.close-img {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -1.5px;
    bottom: -1.25px;
}

.data {
    display: inline-block;
    width: 100%;
}
.data-card {
    width: 30%;
    float: left;
    background-color: white;
    height: 80px;
}

.card-2 {
    margin-left: 5%;
}

.data-type {
    margin: 15px 0px 0px 15px;
}

.amount {
    margin: 0px 0px 15px 15px;
    font-weight: bold;
    font-size: 18px;
}

.bar-txt {
    display: inline-block;
    text-align: left;
}

.bar-button {
    float: right;
    background-color: #1CA3BA;
    border-radius: 20px;
    border-style: solid;
    color: white;
    height: 40px;
    margin-top: 17px;
    width: 138px;
}

.account-card {
    margin: 0px 0px 20px;
    background-color: white;
}

.account {
    display: inline-block;
    padding: 15px;
}

.account-img {
    width: 50px;
}

.name {
    margin-left: 40px;
    position: absolute;
    font-weight: bold;
}

.type {
    margin-left: 250px;
    position: absolute;
    font-weight: bold;
}
.column-1 {
    float: left;
    width: 42%;
    margin: 0px 30px;
}

.column-2 {
    float: right;
    width: 42%;
    background-color: white;
    padding: 0px 15px 25px;
    margin: 0px 30px;
}

li {
    list-style: none;
}

table {
    width: 100%;
    font-size: 14px;
}

th {
    text-align: left;
}

td {
    text-align: left;
    padding: 10px 0px;
}

.info {
    font-weight: bold;
}

.underline{
    border-bottom: 1px #CCCCCC;
}