body {
    height: 100%;
    width: 100%;
    margin: 0px;
    color:  #363636;
    font-family: biryani;
    font-size: 14px;
}

header {
    margin: 0px 30px;
}

nav {
    float: left;
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
} 

.elephant {
    width: 50px;
    padding-left: 8px;
    border-left: 4px solid transparent;
}

.nav-icons {
    position: absolute;
    top: 40%;
}

.nav-icon {
    margin: 10px 0px;
    width: 40px;
    padding-left: 8px;
    border-left: 4px solid transparent;
    outline: none;
}

.nav-icon:hover {
    border-left: 4px solid #1CA3BA;
}

.blue-border{
    border-left: 4px solid #1CA3BA;
}

.shadow {
    box-shadow: 3px 3px rgba(0,0,0,0.05);
    border-radius: 5px;
}

main {
    margin-left: 120px;
    height: 120%;
    background-color: #f5f5f5;
    padding: 20px;
}

.welcome-bar {
    background-image: linear-gradient(to right, #8ED1DC,#E3F4F6);
    font-size: 25px;
    padding: 20px;
    margin: 0px 0px 20px;
    position: relative;
}

.close {
    margin: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    background-color: transparent;
    border-style: none;
}

.close-img {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -1.5px;
    bottom: -1.25px;
}

.close-img:hover {
    box-shadow: 1px 1px 1px 1px #1CA3BA;
}

.data {
    display: inline-block;
    width: 100%;
}
.data-card {
    width: 30%;
    float: left;
    background-color: white;
    height: 80px;
}

.card-2 {
    margin-left: 5%;
}

.data-type {
    margin: 15px 0px 0px 15px;
}

.amount {
    margin: 0px 0px 15px 15px;
    font-weight: bold;
    font-size: 18px;
}

.bar-txt {
    display: inline-block;
    text-align: left;
}

.bar-button {
    float: right;
    background-color: #1CA3BA;
    border-radius: 20px;
    border-style: solid;
    color: white;
    height: 30px;
    margin-top: 17px;
    width: 138px;
}

.bar-button:hover {
    background-color: white;
    outline-color: #1CA3BA;
    color: #1CA3BA;
}

.account-card {
    margin: 0px 0px 20px;
    background-color: white;
}

.account {
    display: inline-block;
    padding: 15px;
}

.account-img {
    width: 50px;
}

.name {
    margin-left: 40px;
    position: absolute;
    font-weight: bold;
}

.type {
    margin-left: 250px;
    position: absolute;
    font-weight: bold;
}
.column-1 {
    float: left;
    width: 42%;
    margin: 0px 30px;
}

.column-2 {
    float: right;
    width: 42%;
    background-color: white;
    padding: 0px 15px 25px;
    margin: 0px 30px;
}

.transactions-page {
    padding: 0px 15px 25px;
    margin: 0px;
}

.trans-page-bar {
    float: left;
    width: 55%;
    margin: 0px 15px;
}

.trans-header {
    display: inline-block;
    margin: 12px 0px;
    font-size: 21px;
}

.trans-column-1 {
    float: left;
    width: 52%;
    padding: 15px 15px 25px;
    margin: 0px 15px;
    background-color: white;
}

.trans-button-1 {
    float: right;
    background-color: #1CA3BA;
    border-radius: 20px;
    border-style: solid;
    color: white;
    height: 30px;
    margin-top: 25px;
    width: 95px;
}

.trans-button-2{
    float: right;
    background-color: white;
    border-radius: 20px;
    border-color: #1CA3BA;
    border-style: solid;
    color: #1CA3BA;
    height: 30px;
    margin-top: 25px;
    width: 95px;
}

.trans-button-2:hover {
    background-color: #1CA3BA;
    outline-color: white;
    color: white;
}

.trans-column-2 {
    float: right;
    width: 40%;
}

.trans-form {
    background-color: white;
    padding: 15px 31px 70px;
    margin: 0px 15px;
}

.form-txt {
    margin-bottom: 0px;
}

.input-field {
    width: 100%;
    border-radius: 0px;
    box-shadow: 2px 2px rgba(0,0,0,0.05)
}

select {
    width: 100%;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}

table {
    width: 100%;
    font-size: 14px;
    background-color: white;
}

.expense-button {
    float: left;
    background-color: #1CA3BA;
    border-radius: 20px;
    border-style: solid;
    color: white;
    height: 30px;
    margin-top: 0px;
    width: 120px;
    }

.expense-button:hover {
    background-color: white;
    outline-color: #1CA3BA;
    color: #1CA3BA;
}

th {
    text-align: left;
}

td {
    text-align: left;
    padding: 10px 0px;
}

.info {
    font-weight: bold;
    text-align: left;
}

.underline{
    border-bottom: 1px #CCCCCC;
}